<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">
    <h2>TechJobs</h2>

    <br/>

    <h4 th:name="welcome" th:text="'Welcome ' + ${user.username}"></h4>

    <br/>
        <h5>Your saved jobs: </h5>
    <ul>
        <li th:each="job : ${user.mySavedJobs}">
            <a th:href="@{'/view/' + ${job.id}}" th:text="${job.name}"></a>
        </li>
    </ul>

</div>

</body>
</html>